
/* Enlazar hoja de normalización */
@import "normalize.css";

/* Importo la fuente que luego voy a usar de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* Variables de colores y fuente, lo defino en un solo sitio y luego se referencia var(--color-blabla) */
:root {
    --color-primary: #53423d;
    --color-secondary: #b5cab6;
    --color-accent: #ede6d1;
    --color-background: #F5F5F5;
    --color-footer-bg: #424242; 
    --color-footer-text: #FFFFFF; 
    --color-silueta: #9faedc;
    --font-main: 'Roboto', sans-serif;
}

/* ESTILOS GENERALES */
/* ETIQUETAS */
body {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*El border y padding van dentro de width de la caja */
    background-color: var(--color-background);
    color: #333;
}

img {
    max-width: 100%; /* En principio, las imágenes van a todo el ancho del contendor */
    height: auto; /*En principio, se trata de mantener las proporciones */
}

a {
    text-decoration: none;
    color: inherit; /* Manteniene en color del texto normal y no pone el típico azul de links */
}

h2 {
    font-size: clamp(1.5rem, 2vw, 2.5rem); /* He probado la función clamp para no bajar nunca más de 1.5 
    y no superar 2.5, tratando que se adapte a la anchura del viewport según escala (2%) */
    text-align: center;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem
}


/* CLASES */
/* Clase para el texto conhashtag # */
.hashtag {
    color: #0056b3;
    font-weight: bold;
}

.resaltado {
    font-weight: bold;
}

/* SECCIONES PRINCIPALES DE LA PÁGINA con Etiquetas Semánticas */
/* organizo en orden de aparición (BBPP) */
/*
1.- HEADER
2.- NAV para BreadCrumb
3.- MAIN
    3.1 - Aside con Iconos de Navegación: panel izquierdo
    3.2 - Contenido Principal
4.- FOOTER
*/

/* 1.- HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pondrá el __icon a la izquierda y el texto a la derecha, con espacio en medio */
    background-color: var(--color-primary);
    color: var(--color-footer-text);
    padding: 0.5rem 1rem; /* Uso medidas relativas a la fuente raíz (top/bottom (0.5) y left/right (1)*/
    height: 10vh; /* Uso % del viewport para que sea responsivo */
}

/* El logo de la cabecera a la izquierda */
/* He intentado seguir nomenclatura  Block Element Modifier o BEM  */
.header__icon {
    max-height: 100%; /* Que ocupe la altura de header (10% del viewport) */
    border-radius: 5px;
}

/* El moto del site */
.header__title {
    font-size: clamp(1rem, 3vh, 2.5rem); /* Ìdem que h2 pero que escale al 3% de la altura del viewport entre un min y max*/
    text-align: right;
}


/* 2.- NAV para BREADCRUMB */
.nav--breadcrumb {
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-accent);
    height: 5vh;
    display: flex;
}

.nav__list {    
    list-style: none; /* Lista pero sin estilo predefinido */
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.nav__item a {
    color: var(--color-primary);
    font-weight: bold;
    margin-right: 0.25rem;
}

/* 3.- MAIN */
.main {
    display: flex;
    align-items: flex-start;
    gap: 1rem; /* deja un hueco de 1rem entre los elementos */
    padding: 1rem;
    background-color: var(--color-background);
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombreo */
}

/* 3.1 - ASIDE con Iconos de Navegación: panel izquierdo */
/* Contenedor del aside */
.main__aside {
    /* El aside ocupará inicialmente el 15% del ancho del contenedor (flex-basis: 15%).
       Si el contenedor no tiene suficiente espacio, el aside puede reducirse proporcionalmente (flex-shrink: 1).
       Sin embargo, el aside no crecerá más allá del 15% incluso si sobra espacio (flex-grow: 0). */
    flex: 0 1 15%; /* grow, shrink y bassis todo junto */
    display: flex;
    flex-direction: column; /* Elementos en columna */
    padding-right: 1rem; /* Añade algo de espacio en el lado derecho */
    padding-top: 3rem;
  }
  
  /* Estilo de cada <article> del aside */
  .main__aside-item {
    display: flex;
    align-items: center; /* Alinea icono y texto verticalmente */
    padding: 2%;
  }
  
  /* Icono del <article> */
  .main__aside-icon {
    width: auto;
    height: 3rem; /* Tamaño ajustable para los iconos */
    padding-right: 0.25em;
  }
  
  /* Texto del <article> */
  .main__aside-text {
    font-size: 0.9em; /* Tamaño de letra del texto */
  }
  
  /* Link dentro del <article> */
  .main__aside-link {
    display: flex;
    flex-direction: row; /* Icono y texto en fila */
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Usa el color del tema */
  }
  
  

/* 3.2 - Contenido Principal */
/* Cambiará en cada página */
.main__content {
    display: flex; /*Típicamente será un h2 y un contenedor que se pondrán en columna */ 
    align-items: center;
    flex-direction: column;
}

/* 4.- FOOTER */
/* Footer */
.footer {
    font-size: clamp(1vh, 2vh, 2.25vh);
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    text-align: center;
    padding: 1rem;
}
/* Enlaces a licencias y sites de atribuciones */
.footer__link {
    color: var(--color-secondary);
}
/* Iconos de las licencias */
.footer__icon {
    height: 1.5em;
    vertical-align: text-bottom;
}


/* CONTENIDO ESPECÍFICO DE LAS PÁGINAS

a) PÁGINA PRINCIPAL index.html 
b) FORMULARIO
c) LISTA DE AVES
d) FICHA DE AVE
e) NOTICIAS

*/

/* a) PÁGINA PRINCIPAL index.html  */
/* Contenedor de la imagen y el texto de portada*/
.main__content-general {
    display: flex; /* flexbox */
    flex-wrap: wrap; /* Permite que los elementos cambien de línea si no hay espacio */
    align-items: flex-start; /* Alinea los elementos al principio */
    justify-content: center; /* Centra horizontalmente */
    gap: 1rem; /* Espaciado entre imagen y texto */
    width: 100%; /* Asegura que ocupa todo el ancho disponible */
  }
  
  /* Imagen portada */
.main__content--icon {
  flex: 0 1 auto; /* Permite que la imagen se redimensione según el espacio, no crece más que el inicial */
  max-width: 70%; 
  height: 32vh; /* 32% de la altura del viewport */
  border-radius: 5px;  
}

/* Texto de portada */
.main__content--text {
    flex: 1; /* El texto ocupe el espacio restante a la imagen */
    max-width: 600px; /* para que el texto esté a la derecha de la imagen en pantallas anchas */
    font-size: calc(0.75rem + 0.35vw); /* Escala la fuente con el tamaño de la ventana */
}

/* NOTA: me he comido mucho la cabeza para que sea responsive, pero creo que debería haber especificado un tamaño
de pantalla para ir en flex-direction: column o row ...
@media (max-width: 800px)
*/

  

/* Modal de  Aceptar/Rechazar cookies */
.cookie-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(50vw, 35vw, 35vw); /*Intentando que la ventana modal quede proporcionada ante redimensionamientos */
    height: clamp(50vh, 35vh 25vh); /*Intentando que la ventana modal quede proporcionada ante redimensionamientos */
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    z-index: 1000;

}

/* Ocultar el modal cuando se hace clic en un enlace */
.cookie-alert:target {
    display: none;
}

/* Botones */
.cookie__botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0rem, 1rem;
}
/* Botones para cerrar la ventana modal (realmente no recogen cookies) */
.cookie__boton {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    align-self: center;
}

/* Hover en el botón */
.cookie__boton:hover {
    background-color: var(--color-footer-bg);
}

/* 
 b) FORMULARIO 
 */

.form__fieldset {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a nuevas líneas */
    gap: 1rem; /* Espacio entre los elementos */
    padding: 1rem;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    justify-content: center; /* Elementos centrados horizontal */
}

.form__group {
    flex: 1 1 calc(50% - 1rem); /* Cada grupo ocupa el 50% del ancho menos el espacio del gap definido en .form__fieldset */
    display: flex;
    flex-direction: column;
}

.form__group label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form__group input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
}

.form__button {
    flex: 0 0 auto; /* que crezca o se reduzca el botón lo necesario */
    padding: 0.75rem 1.5rem; 
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--color-primary);
    border: none; /* No pinta borde al botón, pero lo redondea */ 
    border-radius: 4px;
    cursor: pointer; /* Para que se vea que es un link */
    text-align: center;
    transition: background-color 0.3s ease;
    align-self: center;
}

/* Hover en el botón */
.form__button:hover {
    background-color: var(--color-footer-bg);
}


/*
c) LISTA DE AVES

He aprovechado para hacer pruebas con position: float para colocar la imagen y el texto alrededor, haciendo un clear
al pintar la imagen de la silueta en vuelo justo debajo
 */

.bird-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espacio entre los elementos */
    width: 100%;   
    justify-content: left;
    flex-grow: 1;
}

.bird-list a:hover{
    background-color: var(--color-secondary);
}

.bird-item {
    border: 2px solid var(--color-primary);
    border-radius: 5px;    
    padding: 1rem; 
}

.bird-item__cara {
    max-height: 10vh; /*Fijo el alto de la foto icono del ave al 10% del viewport */
    float: left; /* Foto del ave y texto alreddor con float */
    padding-right: 1rem;
    border-radius: 5px; 
}

.bird-item__title{
    font-size: 1rem;
    margin: 0;
    padding: 0;

}

.bird-item__text{
    font-size: 0.75rem;
    margin: 0;
    padding: 0;

}

.bird-item__silueta{
    max-height: 23vh;  /*Fijo el alto de la foto silueta del ave al 23% del viewport */    
    clear: both; /* La imagen en vuelo rompe el float */
    border-radius: 5px; 
    margin-top: 1rem;
    background-color: var(--color-silueta);
}

/* 
d) FICHA DE AVE

Hay una sección general bird-ficha, dividida en 2
- bird-info con una foto de la cabeza e información general
- bird-foto con las fotos en vuelo que ha subido la gente
 */

 /* sección general bird-ficha */
.bird-ficha {
    border: 2px solid var(--color-primary);
    border-radius: 5px;    
    display: flex;
    gap: 1rem;
    flex-direction: column; /* Info y fotos van en columna */
    width: 100%;
    flex-grow: 1;
}

.bird-ficha img {
    border-radius: 5px; 
    padding: 1rem;
}

.bird-ficha h3 {
    margin: 0 0 0 1rem; 
 }

 /* subsección con la foto e informción general del ave */
.bird-info {
    border: 1px solid var(--color-primary);
    border-radius: 5px;   
    padding: 0.75rem; 
    position: relative;   
    background-color: var(--color-accent);
    margin: 1rem 1rem 0 1rem;
}

.bird-info__foto {
    max-height: 30vh; /*fijo la foto de la cabeza al 30% de la altura del viewport */
    float: left; /* Para que la info rodee a la foto */
}

.bird-info__detalles {
    margin: 0;
    padding: 0;
}

/* subsección con las fotos subidas por la gente */
.bird-foto {
    border: 1px solid var(--color-primary);
    border-radius: 5px;   
    padding: 0.75rem;  
    clear: both; /* Esta sección rompe el float */
    margin: 0 1rem 0 1rem;
    display: flex; /* A partir de aquí posicionamos con Flexbox */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}


.bird-foto__item {
    flex: 1 0 calc(45% - 1rem); /* Pongo 2 fotos por columna y que redimensionen en flex-grow */
    border: 2px solid var(--color-accent);
    padding: 0.5rem;
    display: flex;
    flex-direction: column; /* Foto y texto en columna */
    justify-content: center;
}

.bird-foto__item img{
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 5px;
}

.bird-foto__item p {
    margin: 0;
    padding: 0 0 0 1rem;
    font-size: 0.7rem;
    font-style: italic;
}


/* 
e) NOTICIAS
*/

/* Contenedor de noticias */
.news__list {
    display: flex;
    flex-wrap: wrap; /* Permite que las noticias hagan wrap */
    gap: 1rem; /* Espacio entre noticias */
    justify-content: center; /* Centra las noticias horizontalmente */
    padding: 1rem;
}

/* Cada noticia */
.news__item {
    position: relative; /* Para luego poder usar absolute */
    flex: 1 1 calc(33.33% - 1rem); /* Ocupa un tercio del ancho disponible menos el gap */
    max-width: 400px; /* Ancho máximo para cada noticia */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Para que el contenido no sobresalga */
    padding: 1rem;
}

/* Icono de la red social */
.news__icon {
    position: absolute; /* Posición absoluta para estar en la esquina superior izquierda */
    top: 1rem;
    left: 1rem;
    width: 40px;
    height: 40px;
    z-index: 10; /* transparencia para  que esté por encima del texto */
}

/* Texto de la noticia */
.news__item p {
    margin: 0 0 1rem 3rem; /* Espaciado respecto al icono */
    font-size: 0.9rem;
    color: #333;
    overflow: hidden; /* Oculta el texto que se exceda */
    text-overflow: ellipsis; /* Añade puntos suspensivos */
    white-space: nowrap; /* Mantiene el texto en una sola línea */
}

/* Imagen de la noticia */
.news__img {
    width: 100%;
    height: auto; /* Mantiene proporciones */
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* Botón de "Seguir leyendo" */
.news__item a {
    display: block; /* Quiero que ocupe todo el ancho */
}